* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375C;
}

html {
  font-size: 62.5%;
}

/* 1 rem = font-size */
/* 16px × 62.5% = 10px */
/* 1rem = 10px */

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}


/* common */

a {
  text-decoration: none;
}


.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 60px;



  display: inline-block;
  min-width: 205px;
  text-align: center;
  color: #ffff;
  padding: 0 20px;
  font-size: 1.6rem;
  border:  1px solid #2E80CE;
  font-weight: 400;
  height: var(--height);
  line-height: var(--height);
  background-color: #2E80CE;
  border-radius: 99px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-heading {
  color: #10375C;
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem; /* 120% */
}

.section-desc {
  margin-top: 18px;
  color: #575F66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem; /* 166.667% */
}


/* header */

.header {
  min-height: 100vh;
  padding-top: 30px;
  background: var(--header-bg);
}

.logo {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  font-size: 1rem;
  text-transform: none !important;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {

  width: 3em;
  height: 3em;
  background-color: #2E80CE;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background-color: white;
}

.logo__text {
  color: #ffff;
  text-align: right;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  margin-left: 0.6em;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
}

/* Header top */

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.navbar__list {
  display: flex;
}

.header-action__login,
.navbar__link {
  padding: 4px 21px;
  color: #C9D2DA;
  font-size: 1.6rem;
  font-weight: 400;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 #FFFFFF;
}

.navbar__link--active::before {
  position: relative;
  content: "";
  display: inline-block;
  left: -8px;
  top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffff;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__signup {
  --height: 44px;
  min-width: 104px;
}

/* Hero  */

.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  flex-shrink: 0;
  width: 44%;
}

.hero__media {
  flex-grow: 1;
}

.hero__heading {
  color: #FFF;
  font-size: 7rem;
  font-weight: 600;
  line-height: 8rem; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 20px;
  color: #C9D2DA;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem; /* 166.667% */
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  color: #FFF;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

.hero__imgages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* Service */

.service {
  padding: 170px 0;
}

.section-desc,
.service__heading {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service__list {
  margin-bottom: 55px;
}



/* Service item */
.service-item {
  display: flex;
  padding: 22px;
  width: 470px;
  border-radius: 10px;
  background: #FFF;
  transition: 0.25s;
}

.service-item:hover {
  position: relative;
  background: #FFF;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  background: #2E80CE;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(40, 155, 222, 0.15);
}

 /* flex-shrink: 0; để không bị co giãn */
.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #EFF6FD;
  color: #10375C;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}


.serice-item__body {
  margin-left: 20px;
}

.service-item__heading {
  color: #10375C;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  margin-top: 8px;
  color: #575F66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 175%; /* 175% */
}

/* work */

.work {
  background: #F6FBFF;
  padding: 100px 0;
}

.work__desc {
  width: 468px;
  text-align: start;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-top: 86px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  border: 16px solid #EAF6FF;
  transition: 0.25s;
}

.work-item:hover {
  transform: translateY(-6px);
  border-color: #2E80CE;
}

.work-item__heading {
  margin-top: 18px;
  color: #10375C;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 138.462%; /*  */
}

.word-item__desc {
  margin-top: 28px;
  width: 254px;
  color: #575F66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175% ; /**/
}

.work__more {
  display: inline-block;
  margin-top: 18px;
  color: #2E80CE;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 175%; /* 175% */
}

